/* BODY */
body {
    background-color: rgb(204, 204, 204);
    font-family: Arial, sans-serif;
}

/* HEADINGS */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/* LINKS */
a {
    text-decoration-line: none;
    color: black;
}

/* LIST */
li {
    list-style-type: none;
}

/* PLAYLIST BOX */
.playlist-box {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
}

/* PLAYER CONTAINERS */
.player_one,
.player_two {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
}
