
        /* Body style */
        body {
            background-color: rgb(204, 204, 204);
            font-family: Arial, sans-serif;
        }

        /* Headings */
        h1, h2 {
            text-align: center;
        }

        /* Playlist */
        ul {
            padding: 10;
        }

        li {
            list-style-type: none;
            margin: 8px 0;
        }
.playlist-box {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    width: 300px;      /* box width */
    margin: 20px auto; /* centers the box */
}


        a {
            text-decoration-line: none;
            color: black;
            font-size: 16px;
        }

        /* Player containers */
        .player_one,
        .player_two {
            background-color: rgb(255, 255, 255);
            padding: 15px;
            border-radius: 10px;
            width: fit-content;
            margin: 20px auto;
        }
    